<!DOCTYPE html>

<html lang="en">

    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <title>josh</title>
        <meta content="joshlol.xyz's image server" property="og:title">
        <meta name="description" content="joshlol.xyz's image server">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content="↑_(ΦωΦ;)Ψ" property="og:description">
        <link rel="stylesheet" type="text/css" href="assets/css/main.css" />
        <!-- ↑_(ΦωΦ;)Ψ josh | image server static -->
    </head>

    <body>
        <div class="bg">
            <!-- set image as background-->
            <img src="assets/bg.jpg" alt="background" />
        </div>
        <div class="info">
            <div class="name">
                <h1>joshlol.xyz's content server</h1>
                <h2>used to deliver content to needed endpoints & websites</h2>
                <p>using cloudflare's edge & cloudflare teams for Auth<br>↑_(ΦωΦ;)Ψ</p>
            </div>
        </div>
    </body>

</html>